@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-mode-dark-text: #bff9e8;
    --color-mode-dark-bg: #30373d;

    --background: 215 28% 12%;
    --foreground: 145 20% 85%;

    --card: 215 28% 12%;
    --card-foreground: 145 20% 85%;

    --popover: 215 28% 12%;
    --popover-foreground: 145 20% 85%;

    --primary: 250 50% 60%;
    --primary-foreground: 145 20% 85%;

    --secondary: 145 20% 85%;
    --secondary-foreground: 250 50% 60%;

    --muted: 145 20% 85%;
    --muted-foreground: 215 16% 60%;

    --accent: 250 50% 60%;
    --accent-foreground: 145 20% 85%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 145 20% 85%;

    --border: 215 28% 40%;
    --input: 215 28% 40%;
    --ring: 250 50% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 12%;
    --foreground: 145 20% 85%;

    --card: 215 28% 12%;
    --card-foreground: 145 20% 85%;

    --popover: 215 28% 12%;
    --popover-foreground: 145 20% 85%;

    --primary: 250 50% 60%;
    --primary-foreground: 145 20% 85%;

    --secondary: 145 20% 85%;
    --secondary-foreground: 250 50% 60%;

    --muted: 145 20% 85%;
    --muted-foreground: 215 16% 60%;

    --accent: 250 50% 60%;
    --accent-foreground: 145 20% 85%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 145 20% 85%;

    --border: 215 28% 40%;
    --input: 215 28% 40%;
    --ring: 250 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hover-underline-animation {
  position: relative;
  /* color: #64FFDA; */
  padding-bottom: 10px;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #64ffda;
  transform-origin: bottom center;

  transition: transform 0.15s ease-in-out;
}
.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
